.taskListForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.taskListFormSection {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.taskListFormSection > label {
    color: gray;
    font-weight: 1;
    margin-bottom: 0px;
}

.taskListFormSection > input {
    padding: 10px;
}

.taskListFormSection > select {
    padding: 10px;
}

.taskListSaveButton {
    height: 30px;
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
}

.taskListTitleAndCreate {
    display: flex;
    justify-content: space-between;
    width: 300px;
} 

.taskListTitleInput {
    width: 200px;
}

.taskListFormLeft {
    width: 400px;
}

.taskListFormRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tagsAndCustomFields {
    display: flex;
}