.container{
    display: flex;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: inherit;
}

.simpleButton {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    
    /* font */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 500;
}