.taskFormLabel {
    width: 100px;
    height: 20px;
}

.selectTaskList {
    width: 200px;
}

.taskForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.taskFormSection {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.taskFormSection > label {
    color: gray;
    font-weight: 1;
    margin-bottom: 0px;
}

.taskFormSection > input {
    padding: 10px;
}

.taskFormSection > select {
    padding: 10px;
}

.taskSaveButton {
    height: 30px;
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
}

.taskTitleAndCreate {
    display: flex;
    justify-content: space-between;
    width: 500px;
} 

.taskTitleInput {
    width: 400px;
}

.taskFormLeft {
    width: 440px;
}

.taskFormRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.taskInfo {
    display: flex;
}