.taskCustomField {
    display: flex; 
    align-items: center;
    justify-content: end;
}

.taskCustomFields {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.taskCustomField > label {
    margin-right: 25px;
}

.taskCustomFieldInput {
    width: 200px;
    margin-bottom: 10px;
}

.taskCustomFieldsLabel {
    height: 25px;
}
