.taskTableSeeTasks{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.taskTableExport{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: purple;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.tableActions{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: 20px;
}

.exportButton{
    background-color: lightpink;
    color: white;
    margin-right: 20px;
}

.importButton{
    background-color: lightskyblue;
    color: white;
    margin-right: 20px;
}

.importInput{
    display: none;
}